#argparse==1.2.1
#boto==2.31.1
cssmin==0.2.0
Django==3.1.4
django-admin-bootstrapped==2.5.7
django-admin-steroids==1.0.8
django-annoying==0.10.3
django-chosen-mega==0.1.2
django-localflavor==1.4.1
django-suit==0.2.24
django-wkhtmltopdf==3.1.0
ecdsa==0.13
feedparser==5.2.1
#futures==2.2.0
jsmin==2.2.1
Markdown==2.6.8
phonenumbers==8.3.3
#Pillow==2.5.3
Pillow==4.0.0
ply==3.10
psutil==5.2.0
psycopg2==2.7.1
pycrypto==2.6.1
PyPDF2==1.26.0
python-magic==0.4.13
pytz==2016.10
PyYAML==3.12
reportlab==3.4.0
slimit==0.8.1
titlecase==0.9.0
wsgiref==0.1.2
xlwt==1.2.0
Babel==2.3.4
django-database-files-3000==1.0.1
django-datetime-widget==0.9.3
django-pipeline==1.6.12
django-pipeline-forgiving==1.0.0
html5lib==0.999999999
icalendar==3.11.3
logilab-common==1.4.0
paramiko==2.1.2
python-dateutil==2.6.0
vobject==0.9.4.1
#astroid==1.1.1
astroid==1.4.9
django-chroniker==1.0.3
django-scheduler==0.8.3
django-database-size==0.3.0
requests==2.13.0

# Revert once pull request is accepted
#django-input-mask==2.0.0
-e git://github.com/chrisspen/django-input-mask.git#egg=django-input-mask
