argparse==1.4.0
boto==2.45.0
cssmin==0.2.0
Django==1.10.5
django-admin-bootstrapped==2.5.7
django-admin-steroids==1.0.7
django-annoying==0.10.3
django-chosen-mega==0.1.2
django-localflavor==1.4.1
django-suit==0.2.24
django-wkhtmltopdf==3.1.0
ecdsa==0.13
feedparser==5.2.1
futures==3.0.5
jsmin==2.2.1
Markdown==2.6.8
phonenumbers==8.2.0
Pillow==4.0.0
ply==3.10
psutil==5.1.3
psycopg2==2.6.2
pycrypto==2.6.1
PyPDF2==1.26.0
python-magic==0.4.12
pytz==2014.4
PyYAML==3.11
reportlab==3.1.8
slimit==0.8.1
titlecase==0.7.1
wsgiref==0.1.2
xlwt==0.7.5
Babel==1.3
django-database-files-3000==1.0.1
django-datetime-widget==0.9.3
django-pipeline==1.6.9
django-pipeline-forgiving==1.0.0
html5lib==0.999
icalendar==3.8.3
logilab-common==0.61.0
paramiko==2.0.2
python-dateutil==2.2
vobject==0.9.3
astroid==1.1.1
django-chroniker==1.0.0
django-scheduler==0.8
Fabric==1.10.2
pylint==1.6.5
burlap==0.4.5
django-database-size==0.3.0
#selenium==2.53.6
selenium==3.0.2
requests==2.12.4
buildbot==0.8.12
buildbot-slave==0.8.14
jira==1.0.7

# Revert once pull request is accepted
#django-input-mask==2.0.0
-e git://github.com/chrisspen/django-input-mask.git#egg=django-input-mask
